.DS_Store
.directory
.idea
__pycache__
*~
build
dist
MANIFEST
*.pyc
.coverage
*.patch
_build
*.orig
*.diff
*.patch
*.sublime-project
*.sublime-workspace
.python-version
*.egg-info
.coverage.*
src
site
.zanata-cache
*.exe
.cache
*.eggs
*.log
venv
